* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(image.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    background-color: #23232e;
    box-shadow: 3px 3px 5px #34343e;
    font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
    transition: 0.1s;
}

nav a:hover {
    background-color: #12121e;
    transition: 0.1s;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #23232e8e;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px #12121e;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

main {
    margin: 25px;
    padding: 25px;
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #23232e;
    color: white;
    border-radius: 25px
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #23232e;
    box-shadow: 3px 3px 5px #34343e;
    font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif;
}

footer ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer li {
    height: 50px;
}

footer a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
    transition: 0.1s;
}

footer a:hover {
    background-color: #12121e;
    transition: 0.1s;
}

 li:first-child {
    margin-right: auto;
}

.settings {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #23232e8e;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px #12121e;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.settings h2 {
    margin: 5px;
    color: white;
}

.settings li {
    width: 100%;
}

.settings a {
    width: 100%;
}

@media(max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
}

@media(min-width: 800px) {
    .menuHideOnDesktop{
        display: none;
    }
}